<div class="container">
  <h3>Formularios con Angular JS</h3>
  <form role="form" name="formulario" ng-submit="onSubmit()">
    <div class="form-group">
      <label>Nombre</label>
      <input class="form-control" required name="nombre" ng-model="empleado.nombres" type="text"/>
      <small ng-show="formulario.nombres.$dirty && formulario.nombres.$error.required" class="form-text text-danger">
        Campo Obligatorio
      </small>
    </div>
    <div class="form-group">
      <label>Apellido</label>
      <input class="form-control" name="apellidos" ng-model="empleado.apellidos" type="text"/>
    </div>
    <div class="form-group">
      <label>Salario</label>
      <input type="number" required ng-model="empleado.salario" class="form-control">
      <small ng-show="formulario.definicion.$dirty && formulario.definicion.$error.required" class="form-text text-danger">
        Campo Obligatorio
      </small>
    </div>
    <div class="form-group col-lg-6">
      <label>Departamento</label>
      <select class="form-control" ng-model="empleado.departamentosByIdDepartamento.id">
        <option ng-repeat="item2 in departamentos" value="{{item2.id}}">
          {{item2.nombre}}
        </option>
      </select>
    </div>
    <div class="form-group col-lg-6">
      <label>Estado</label>
      <select class="form-control" ng-model="empleado.estadosByIdEstado.id">
        <option ng-repeat="item3 in estados" value="{{item3.id}}">
          {{item3.estado}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" ng-disabled="formulario.$invalid" type="submit">Enviar</button>
      <button class="btn" type="reset">Limpiar</button>
    </div>
    <hr>
    <a href="./#!/empleados">Ver datos</a>
  </form>
</div>
</div>
